{% extends 'base-admin.html.twig' %}

{% block body %}
    
    <div class="container">
        <div class="col-md-6">
            <h1>Lista de Veículos</h1>
        </div>
        <div class="col-md-6">
            <a href="{{ path('veiculo_new') }}" class="btn btn-primary pull-right margin-top-4">Cadastrar Novo</a> 
        </div>    
    </div>    
    <table class="table table-hover"> 
        <thead>
            <tr>
                <th>Id</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Cor</th>
                <th>Categoria</th>
                <th>Cidade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for veiculo in veiculos %}
            <tr>
                <td><a href="{{ path('veiculo_show', { 'id': veiculo.id }) }}">{{ veiculo.id }}</a></td>
                <td>{{ veiculo.marca }}</td>
                <td>{{ veiculo.modelo }}</td>
                <td>{% if veiculo.ano %}{{ veiculo.ano|date('Y-m-d') }}{% endif %}</td>
                <td>{{ veiculo.cor }}</td>
                <td>{{ veiculo.categoria }}</td>
                <td>{{ veiculo.cidade }}</td>
                <td>
                    <a href="{{ path('veiculo_edit', { 'id': veiculo.id }) }}">editar</a>
                    <span class="glyphicon glyphicon-pencil"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
