{% extends 'base-admin.html.twig' %}

{% block body %}
    
    <div class="container">
        <div class="col-md-6">
            <h1>Lista de Clientes</h1>
        </div>
        <div class="col-md-6">
            <a href="{{ path('clientes_new') }}" class="btn btn-primary pull-right margin-top-4">Cadastrar Novo</a> 
        </div>    
    </div>
        
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Cpf</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('clientes_show', { 'cpf': cliente.cpf }) }}">{{ cliente.cpf }}</a></td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <a href="{{ path('clientes_edit', { 'id': cliente.cpf }) }}">editar</a>
                    <span class="glyphicon glyphicon-pencil"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
